body {
    background-color: black;
}

header {
    top: 0;
    background-image: url("../img/top-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
}

header form {
    width: 15%;
    height: 100%
}

header form .btn {
    width: 90%;
}

h1 {
    color: white;
}

table {
    background-color: white;
}

#pending, #achieved {
    padding: 0;
}

th {
    background-color: lightgray;
}
@media all and (orientation: portrait){
    html {
        zoom: 0.7;
       }
       header {
        top: 0;
        background-image: url("/");
        background-repeat: no-repeat;
        background-size: cover;
        height: 220px;
    }
    header form {
        width: auto;
        height: 100%
    }
}